In [1]:
import pandas as pd
from pathlib import Path

In [3]:
raw_data = pd.read_csv("600K US Housing Properties.csv")
raw_data.head()

C:\Users\sahuja\AppData\Local\Temp\ipykernel_16068\4237909321.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("600K US Housing Properties.csv")

,property_url,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,...,property_type,property_status,year_build,total_num_units,listing_age,RunDate,agency_name,agent_name,agent_phone,is_owned_by_zillow
0,https://www.zillow.com/homedetails/3-Plat-83-1...,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,NaN,Wrangell,AK,NaN,NaN,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Anchor Properties,NaN,NaN,0
1,https://www.zillow.com/homedetails/117-3rd-St-...,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.38600,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
2,https://www.zillow.com/homedetails/LOT-2A-Fron...,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.38686,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
3,https://www.zillow.com/homedetails/LOT-A-Plat-...,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,NaN,Wrangell,AK,NaN,NaN,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,"Petersburg Properties, LLC",NaN,NaN,0
4,https://www.zillow.com/homedetails/335-Cassiar...,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.38905,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0

In [5]:
# Selecting usefull Columns and Dropping others
raw_data = raw_data[['property_id','address','street_name','city','state','latitude','longitude','postcode'
            ,'price','bedroom_number','bathroom_number','price_per_unit','living_space','land_space','land_space_unit'
            ,'property_type']]

In [6]:
raw_data

,property_id,address,street_name,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
0,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,Wrangell,AK,NaN,NaN,99929,135000.0,NaN,NaN,NaN,NaN,3.8860,acres,LOT
1,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.0000,sqft,SINGLE_FAMILY
2,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,Wrangell,AK,56.471638,-132.386860,99929,99999.0,NaN,0.0,NaN,NaN,7222.0000,sqft,LOT
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,61.9705,acres,SINGLE_FAMILY
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.0000,sqft,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.9920,sqft,SINGLE_FAMILY
599996,2078144422,"LOT 16 Ray Ave, West Chicago, IL 60185",LOT 16 Ray Ave,West Chicago,IL,NaN,NaN,60185,29900.0,NaN,NaN,NaN,NaN,0.2600,acres,LOT
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,4.8204,acres,SINGLE_FAMILY
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.0400,sqft,SINGLE_FAMILY
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.1880,sqft,SINGLE_FAMILY

In [7]:
raw_data.describe()

,property_id,latitude,longitude,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space
count,6.000000e+05,529122.000000,529122.000000,6.000000e+05,443845.000000,471733.000000,4.353650e+05,4.478470e+05,5.151190e+05
mean,8.885042e+08,36.282379,-105.813906,6.051870e+05,3.411964,2.471116,4.840448e+02,4.298387e+03,3.099427e+03
std,9.724708e+08,5.673355,13.464633,3.175555e+06,22.491600,5.684972,2.985527e+04,1.780201e+05,5.350082e+03
min,2.700000e+01,18.985142,-165.408250,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,-1.306800e+04
25%,5.402143e+07,32.612112,-117.346079,1.700000e+05,3.000000,2.000000,1.550000e+02,1.360000e+03,1.010000e+00
50%,2.066090e+08,35.403568,-101.897378,3.699000e+05,3.000000,2.000000,2.200000e+02,1.863000e+03,6.000000e+01
75%,2.066867e+09,39.661674,-95.354245,6.250000e+05,4.000000,3.000000,3.310000e+02,2.574000e+03,6.534000e+03
max,2.146997e+09,71.299170,-87.525570,2.147484e+09,13210.000000,1892.000000,1.590000e+07,5.991327e+07,1.746756e+06

In [8]:
raw_data.isnull().sum()

property_id             0
address                 0
street_name           131
city                    1
state                   1
latitude            70878
longitude           70878
postcode               30
price                   0
bedroom_number     156155
bathroom_number    128267
price_per_unit     164635
living_space       152153
land_space          84881
land_space_unit     84881
property_type           0
dtype: int64

In [9]:
raw_data.dropna(subset=['price_per_unit'], inplace=True)

C:\Users\sahuja\AppData\Local\Temp\ipykernel_16068\3462886690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.dropna(subset=['price_per_unit'], inplace=True)

In [10]:
raw_data.isnull().sum()

property_id            0
address                0
street_name           10
city                   1
state                  0
latitude           28314
longitude          28314
postcode               5
price                  0
bedroom_number      5206
bathroom_number     3119
price_per_unit         0
living_space           0
land_space         76491
land_space_unit    76491
property_type          0
dtype: int64

In [11]:
raw_data.dropna(subset=['land_space'], inplace=True)

C:\Users\sahuja\AppData\Local\Temp\ipykernel_16068\331734648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.dropna(subset=['land_space'], inplace=True)

In [12]:
raw_data.isnull().sum()

property_id            0
address                0
street_name            4
city                   1
state                  0
latitude           23135
longitude          23135
postcode               5
price                  0
bedroom_number      4809
bathroom_number     2875
price_per_unit         0
living_space           0
land_space             0
land_space_unit        0
property_type          0
dtype: int64

In [13]:
raw_data.dropna(subset=['bedroom_number'], inplace=True)

C:\Users\sahuja\AppData\Local\Temp\ipykernel_16068\3548119983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.dropna(subset=['bedroom_number'], inplace=True)

In [14]:
raw_data.isnull().sum()

property_id            0
address                0
street_name            4
city                   1
state                  0
latitude           22327
longitude          22327
postcode               3
price                  0
bedroom_number         0
bathroom_number      403
price_per_unit         0
living_space           0
land_space             0
land_space_unit        0
property_type          0
dtype: int64

In [15]:
raw_data.dropna(subset=['bathroom_number'], inplace=True)

C:\Users\sahuja\AppData\Local\Temp\ipykernel_16068\4265676054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data.dropna(subset=['bathroom_number'], inplace=True)

In [16]:
raw_data.isnull().sum()

property_id            0
address                0
street_name            4
city                   1
state                  0
latitude           22302
longitude          22302
postcode               3
price                  0
bedroom_number         0
bathroom_number        0
price_per_unit         0
living_space           0
land_space             0
land_space_unit        0
property_type          0
dtype: int64

In [17]:
raw_data

,property_id,address,street_name,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
1,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.0000,sqft,SINGLE_FAMILY
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,61.9705,acres,SINGLE_FAMILY
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.0000,sqft,SINGLE_FAMILY
5,2069200046,"LOT 10a Haines Road Shoemaker Loop, Wrangell, ...",LOT 10a Haines Road Shoemaker Loop,Wrangell,AK,NaN,NaN,99929,270000.0,3.0,2.0,166.0,1620.0,0.7068,acres,SINGLE_FAMILY
6,2069201072,"L3a B2 Thoms Pl, Wrangell, AK 99929",a B2 Thoms Pl,Wrangell,AK,NaN,NaN,99929,210000.0,1.0,1.0,84.0,2500.0,3.2320,acres,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599993,83909960,"611 Hickory Ln, West Chicago, IL 60185",Hickory Ln,West Chicago,IL,41.898396,-88.192670,60185,549000.0,4.0,5.0,161.0,3409.0,0.2500,acres,SINGLE_FAMILY
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.9920,sqft,SINGLE_FAMILY
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,4.8204,acres,SINGLE_FAMILY
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.0400,sqft,SINGLE_FAMILY
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.1880,sqft,SINGLE_FAMILY

In [18]:
raw_data.dtypes

property_id          int64
address             object
street_name         object
city                object
state               object
latitude           float64
longitude          float64
postcode            object
price              float64
bedroom_number     float64
bathroom_number    float64
price_per_unit     float64
living_space       float64
land_space         float64
land_space_unit     object
property_type       object
dtype: object

In [22]:
# Convert 'acres' to square feet in the 'land_space' column
raw_data.loc[raw_data['land_space_unit'] == 'acres', 'land_space'] *= 43560.0

In [23]:
raw_data

,property_id,address,street_name,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
1,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.000,sqft,SINGLE_FAMILY
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,2699434.980,acres,SINGLE_FAMILY
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.000,sqft,SINGLE_FAMILY
5,2069200046,"LOT 10a Haines Road Shoemaker Loop, Wrangell, ...",LOT 10a Haines Road Shoemaker Loop,Wrangell,AK,NaN,NaN,99929,270000.0,3.0,2.0,166.0,1620.0,30788.208,acres,SINGLE_FAMILY
6,2069201072,"L3a B2 Thoms Pl, Wrangell, AK 99929",a B2 Thoms Pl,Wrangell,AK,NaN,NaN,99929,210000.0,1.0,1.0,84.0,2500.0,140785.920,acres,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599993,83909960,"611 Hickory Ln, West Chicago, IL 60185",Hickory Ln,West Chicago,IL,41.898396,-88.192670,60185,549000.0,4.0,5.0,161.0,3409.0,10890.000,acres,SINGLE_FAMILY
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.992,sqft,SINGLE_FAMILY
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,209976.624,acres,SINGLE_FAMILY
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.040,sqft,SINGLE_FAMILY
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.188,sqft,SINGLE_FAMILY

In [24]:
# Update 'land_space_unit' to 'sqft' where 'acres' was converted
raw_data.loc[raw_data['land_space_unit'] == 'acres', 'land_space_unit'] = 'sqft'

In [25]:
raw_data

,property_id,address,street_name,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
1,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.000,sqft,SINGLE_FAMILY
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,2699434.980,sqft,SINGLE_FAMILY
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.000,sqft,SINGLE_FAMILY
5,2069200046,"LOT 10a Haines Road Shoemaker Loop, Wrangell, ...",LOT 10a Haines Road Shoemaker Loop,Wrangell,AK,NaN,NaN,99929,270000.0,3.0,2.0,166.0,1620.0,30788.208,sqft,SINGLE_FAMILY
6,2069201072,"L3a B2 Thoms Pl, Wrangell, AK 99929",a B2 Thoms Pl,Wrangell,AK,NaN,NaN,99929,210000.0,1.0,1.0,84.0,2500.0,140785.920,sqft,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599993,83909960,"611 Hickory Ln, West Chicago, IL 60185",Hickory Ln,West Chicago,IL,41.898396,-88.192670,60185,549000.0,4.0,5.0,161.0,3409.0,10890.000,sqft,SINGLE_FAMILY
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.992,sqft,SINGLE_FAMILY
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,209976.624,sqft,SINGLE_FAMILY
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.040,sqft,SINGLE_FAMILY
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.188,sqft,SINGLE_FAMILY